<% provide(:title, (t 'books.title.detail')) %>
<h1><%= t 'books.title.detail' %></h1>

	<% unless @book.lending.present? %>
		<button id="update_button" class="btn btn-primary"><%= t 'books.btn_name.update' %></button>	
	<% else %>
		<p id="edit_book_error_message"><%= t 'message.edit_error' %></p>
	<% end %>

	<%= form_for @book, :html => {:name => "edit_book_form"} do |f| %>
			<div id="update-dialog-confirm" title=<%= t 'books.btn_name.edit' %>>
				<p>
					<span class="ui-icon ui-icon-alert"></span>
					<p id="update_confirm_message"><%= t 'dialog.confirm.book_update' %></p>
					<dl>
						<dt class="edited_book_title"><%= t 'books.label.title' %></dt><dd class="edited_book_title"><%= @book.title %></dd>
						<dt class="edited_book_author"><%= t 'books.label.author_name' %></dt><dd class="edited_book_author"><%= @book.author_name %></dd>
					</dl>
				</p>
			</div>

		<% if @book.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@book.errors.count, "error") %>prohibited this book from being saved:</h2>
				<ul id="edit_form_error_msg">
					<% @book.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<dl>
  		<dt class="input_label"><%= t 'books.label.title' %></dt><dd><%= f.text_field :title, :maxlength => 50 %></dd>
  		<dt class="input_label"><%= t 'books.label.author_name' %></dt><dd><%= f.text_field :author_name, :maxlength => 30 %></dd>
		</dl>
	<% end %>

	<% if @book.lending.present? %>
	<div id="edit_page_lending_info">
		<dl>
			<dt class="input_label"><%= t 'lending.label.user_name' %></dt><dd><%= @book.lending.user_name %></dd>
			<dt class="input_label"><%= t 'lending.label.date' %></dt><dd><%= @book.lending.date %></dd>
			<dt class="input_label"><%= t 'lending.label.limit' %></dt><dd><%= @book.lending.date + @book.lending.period %></dd>
		</dl>
	</div>
	<% end %>

