<% provide(:title, '書籍詳細') %>
<h1><%= t 'books.title.detail' %></h1>

	<%= form_for(@book) do |f| %>
		<% unless @book.lending.present? %>
			<%= f.submit((t "books.btn_name.edit"), :id => "update_button", :class => "btn btn-primary") %>
		<% else %>
			<p id="edit_book_error_message"><%= t 'message.edit_error' %></p>
		<% end %>

		<% if @book.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@book.errors.count, "error") %>prohibited this book from being saved:</h2>
				<ul id="edit_form_error_msg">
					<% @book.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<dl>
  		<dt class="input_label"><%= t 'books.form_label.title' %></dt><dd><%= f.text_field :title, :maxlength => 50 %></dd>
  		<dt class="input_label"><%= t "books.form_label.author_name" %></dt><dd><%= f.text_field :author_name, :maxlength => 30 %></dd>
		</dl>
	<% end %>

	<% if @book.lending.present? %>
	<div id="edit_page_lending_info">
		<dl>
			<dt class="input_label"><%= t 'lending.label.user_name' %></dt><dd><%= @book.lending.user_name %></dd>
			<dt class="input_label"><%= t 'lending.label.date' %></dt><dd><%= @book.lending.date %></dd>
			<dt class="input_label"><%= t 'lending.label.limit' %></dt><dd><%= @book.lending.date + @book.lending.period %></dd>
		</dl>
	</div>
	<% end %>

