<% provide(:title, (t 'books.title.index')) %>
<h1><%= t 'books.title.index'%></h1>

<%= form_tag(books_search_path, method: "get", id: "search_window", class: "search") do %>
	<%= text_field_tag :search_string, "", :placeholder => (t 'search.placeholder'), :class => "text-box", :maxlength => 50 %>
  <%= submit_tag (t 'button.search'), :id => "search_button", :class => "btn", :name => nil %>
<% end %>
<div id="button_set">
  <div id="add-book-dialog-form" title=<%= t 'books.btn_name.add' %>>
    <p class="validateTips"><%= t 'dialog.confirm.book_add' %></p>
    <%= form_tag(books_path, method: "post", id: "add_book", name: "book_data") do %>
		<dl>
      <dt class="input_label_dialog"><%= t 'books.label.title' %></dt><dd class="input_value_dialog"><%= text_field_tag 'book[title]', "", :maxlength => 50 %></dd>
      <dt class="input_label_dialog"><%= t "books.label.author_name" %></dt><dd class="input_value_dialog"><%= text_field_tag 'book[author_name]', "", :maxlength => 30 %></dd>
		</dl>
    <% end %>	
  </div>
  <button id="add_book_button" class="btn btn-primary"><%= t 'books.btn_name.add' %></button>

  <%= form_tag(edit_book_path(1), method: "get", id: "show_book", target: "_blank") do %>
    <%= submit_tag (t "books.btn_name.show"), :id => "show_book_button", :class => "btn btn-primary", :name => nil, :disabled => true %>
  <% end %>

  <div id="delete-dialog-confirm" title=<%= t 'books.btn_name.delete' %>>
	  <p>
		  <span class="ui-icon ui-icon-alert"></span>
		  <%= t 'dialog.confirm.book_delete' %>
			<dl>
				<dt class="selected_book_title"><%= t 'books.label.title' %></dt><dd class="selected_book_title confirm"></dd>
				<dt class="selected_book_author"><%= t 'books.label.author_name' %></dt><dd class="selected_book_author confirm"></dd>
			</dl>
		  <%= form_tag(book_path(1), method: "delete", id: "delete_book") do %>
		  <% end %>
	  </p>
  </div>
  <button id="delete_book_button" class="btn btn-primary" disabled><%= t 'books.btn_name.delete' %></button>
</div>

<table>
  <thead>
    <tr>
			<th class="selector"><%= t 'books.table_header.radio' %></th>
      <th><%= t 'books.label.title' %></th>
      <th><%= t 'books.label.author_name' %></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
				<td class="selector"><%= radio_add_params(book) %></td>
        <td><%= book.title %></td>
        <td><%= book.author_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="books_pagination">
	<%= will_paginate @books %>
</div>

