<% provide(:title, @title) %>
<div class="Left">
	<h1><%= @title %></h1>

	<%= form_tag(lendings_search_path, method: "get", id: "search_window", class: "search") do %>
		<%= text_field_tag :search_string, "", :placeholder => (t 'search.placeholder'), :class => "text-box", :maxlength => 50 %>
	  <%= submit_tag (t 'button.search'), :id => "search_button", :class => "btn", :name => nil %>
		<%= hidden_field_tag :job, @job %>
	<% end %>

	<% if @job == "lending" %>
	<div id="lending-dialog-form" title=<%= @btn_name %>>
		<p class="validateTips"><%= t 'dialog.confirm.lending' %></p>
			<dl>
				<%= form_tag(book_lendings_path(1), method: "post", id: "lending_book", name: "user_name") do %>
				<dt class="input_label_dialog"><%= t 'lending.label.user_name' %></dt>
				<dd class="input_value_dialog"><%= text_field_tag 'lending[user_name]', "", :maxlength => 25 %></dd>
				<% end %>	
				<dt class="selected_book_title"><%= t 'books.label.title' %></dt><dd class="selected_book_title"></dd>
				<dt class="selected_book_author"><%= t 'books.label.author_name' %></dt><dd class="selected_book_author"></dd>
			</dl>
	</div>
	<button id="lending_book_button" class="btn btn-primary" disabled><%= @btn_name %></button>
	<% elsif @job == "return" %>
	<div id="lending-dialog-confirm" title=<%= @btn_name %>>
		<p>
			<span class="ui-icon ui-icon-alert"></span>
			  <%= t 'dialog.confirm.return' %>	
				<dl>
				<dt class="selected_book_user"><%= t 'lending.label.user_name' %></dt><dd class="selected_book_user confirm"></dd>
				<dt class="selected_book_title"><%= t 'books.label.title' %></dt><dd class="selected_book_title"></dd>
				<dt class="selected_book_author"><%= t 'books.label.author_name' %></dt><dd class="selected_book_author"></dd>
				</dl>
			<%= form_tag(book_lending_path(1, 1), method: "delete", id: "return_book", name: "user_name") do %>
			<% end %>
		</p>
	</div>
	<button id="return_book_button" class="btn btn-primary" disabled><%= @btn_name %></button>
	<% end %>


	<table class="lending-information">
		<thead>
			<tr>
				<% unless @job == "other" %>
					<th class="selector"><%= t 'books.table_header.radio' %></th>
				<% end %>
					<th><%= t 'books.label.title' %></th>
					<th><%= t 'books.label.author_name' %></th>
				<% if @job == "other" %>
					<th class="lending-info"><%= t 'books.table_header.status' %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<ul>
				<% @books.each do |book| %>
					<tr>
						<% unless @job == "other" %>
							<td class="selector"><%= radio_add_params(book) %></td>
						<% end %>
						<td><%= book.title %></td>
						<td><%= book.author_name %></td>
						<% if @job == "other" && book.lending.present? %>
							<td class="lending"><%= t 'lending.status.rented_out' %></td>
						<% elsif @job == "other" %>
							<td class="no-lending"><%= t 'lending.status.kept' %></td>
						<% end %>
					</tr>
				<% end %>
			</ul>
		</tbody>
	</table>
	</form>

	<div class="books_pagination">
		<%= will_paginate @books %>
	</div>

</div>
