<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'public/application', media: 'all' %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>
<body>
	<script type="text/javascript">
		var I18n = {
			"ok_button": "<%= I18n.t 'button.ok' %>",
			"cancel_button": "<%= I18n.t 'button.cancel' %>",
			"update_confirm": "<%= I18n.t 'dialog.confirm.book_update' %>",
			"label_user_name": "<%= I18n.t 'lending.label.user_name' %>",
			"label_title": "<%= I18n.t 'books.label.title' %>",
			"label_author_name": "<%= I18n.t 'books.label.author_name' %>",
			"check_min": "<%= I18n.t 'dialog.check_length.min' %>",
			"check_between": "<%= I18n.t 'dialog.check_length.between' %>",
			"check_max": "<%= I18n.t 'dialog.check_length.max' %>",
			"update_alert": "<%= I18n.t 'dialog.confirm.data_empty' %>",
			"update_notice": "<%= I18n.t 'dialog.confirm.book_update' %>"
		};
	</script>
  <%= javascript_include_tag 'jquery-2.1.1.min' %>
  <%= javascript_include_tag 'jquery-ui/1.11.1/jquery-ui.min' %>
  <%= javascript_include_tag 'application' %>
	<%= render 'layouts/header' %>
	<% flash.each do |name, msg| %>
			<% status = name == "notice" ? "success" : "danger" %>
			<%= content_tag(:div, msg, class: "alert alert-#{status}") %>
	<% end %>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
