<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>
<body>
  <%= javascript_include_tag 'jquery-2.1.1.min' %>
  <%= javascript_include_tag 'jquery-ui/1.11.1/jquery-ui.min' %>
  <%= javascript_include_tag 'application' %>
	<%= render 'layouts/header' %>
	<% flash.each do |name, msg| %>
			<% status = name == "notice" ? "success" : "danger" %>
			<%= content_tag(:div, msg, class: "alert alert-#{status}") %>
	<% end %>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
